<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 定义了一个抽象的bean-->
	<bean name="abstractPeople" class="ioc.Demo_14.People" abstract="true">
		<property name="age" value="18"></property>
		<property name="className" value="高三5班"></property>
	</bean>

	<bean name="zhangsan" parent="abstractPeople">
		<property name="id" value="1"></property>
		<property name="name" value="张三"></property>
	</bean>

	<bean name="lisi" parent="abstractPeople">
		<property name="id" value="2"></property>
		<property name="name" value="李四"></property>
		<!-- 重写了父类bean的属性 -->
		<property name="age" value="19"></property>
	</bean>

</beans>